absl-py
dm-env
dm-tree
numpy
pillow
typing-extensions
jax==0.4.28
jaxlib==0.4.28
chex>=0.1.86
dm-haiku>=0.0.12
flax>=0.8.2
optax>=0.2.2
rlax>=0.1.7
tensorflow==2.16.1
tensorflow_probability==0.24.0
tensorflow_datasets==4.9.4
dm-reverb==0.13.0
dm-launchpad==0.5.2
dm-sonnet
trfl
atari-py
bsuite
dm-control
gym==0.26.2
gym[atari]
pygame==2.1.0
rlds
